html {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: pink;
    margin-top: 0;
    width: 100%;
    padding-top: 20px;
}

.header h1 {

}

body {
    background-color: beige;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    color: #c23d6b;
    font-family: 'Arial';
}

nav a {
    background-color:#f2b8c6;
    padding: 6px 12px;
    margin: 10px;
        color: #8a1f4b
}

p {
    font-size: 20 px;
    font-family: monospace;
}

article {
    padding: 20px;
}

footer {
    padding: 20px;
    background-color: #f2b8c6;
}
